{% extends "base.html" %} {% block title %} Download Plex {% endblock %} {%
block main %}

<div
    class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0"
>
    <div
        class="p-6 max-w-m bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700"
    >
        <h4 class="mb-3 text-xl font-bold dark:text-white">
            <span class="emoji">&#128161;</span> {{ _("What is Jellyfin?") }}
        </h4>

        <ul class="mb-3 text-gray-700, dark:text-gray-400 pl-5">
            <li class="flex items-center space-x-3">
                <!-- Icon -->
                <svg
                    class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        fill-rule="evenodd"
                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                        clip-rule="evenodd"
                    ></path>
                </svg>
                <span
                    >{{ _("Stream movies, TV shows, and music in one place")
                    }}</span
                >
            </li>
            <li class="flex items-center space-x-3">
                <!-- Icon -->
                <svg
                    class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        fill-rule="evenodd"
                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                        clip-rule="evenodd"
                    ></path>
                </svg>
                <span
                    >{{ _("Access your personal digital library on ") }}<span
                        class="font-bold"
                        >ANY</span
                    >{{ _(" device") }}</span
                >
            </li>

            <li class="flex items-center space-x-3">
                <!-- Icon -->
                <svg
                    class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        fill-rule="evenodd"
                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                        clip-rule="evenodd"
                    ></path>
                </svg>
                <span>{{ _("Easy to use and set up ") }}</span>
            </li>
        </ul>

        <h4 class="mb-3 text-xl font-bold dark:text-white">
            <span class="emoji">&#128161;</span> {{ _("What is Jellyfin?") }}
        </h4>

        <ul class="mb-3 text-gray-700, dark:text-gray-400 pl-5">
            <li class="flex items-center space-x-3">
                <!-- Icon -->
                <svg
                    class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        fill-rule="evenodd"
                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                        clip-rule="evenodd"
                    ></path>
                </svg>
                <span
                    >{{ _("Stream movies, TV shows, and music in one place")
                    }}</span
                >
            </li>
            <li class="flex items-center space-x-3">
                <!-- Icon -->
                <svg
                    class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        fill-rule="evenodd"
                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                        clip-rule="evenodd"
                    ></path>
                </svg>
                <span
                    >{{ _("Access your personal digital library on ") }}<span
                        class="font-bold"
                        >ANY</span
                    >{{ _(" device") }}</span
                >
            </li>

            <li class="flex items-center space-x-3">
                <!-- Icon -->
                <svg
                    class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        fill-rule="evenodd"
                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                        clip-rule="evenodd"
                    ></path>
                </svg>
                <span>{{ _("Easy to use and set up ") }}</span>
            </li>
        </ul>
    </div>
</div>

{% endblock %}
